/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;
  --link-color: #c49f68;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, ul, p {
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0 1rem;
}

a {
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}
/*========== CLASS CSS ==========*/
.section {
  padding: 2rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
  transition: all .3s;
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    /* bottom: var(--header-height); */
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: all .3s;
  }
}

.nav__name,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  list-style: none;
}

.nav__item {
  text-align: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active menu link */
.active-link {
  color: var(--title-color);
}

/* Generate pdf button */
.generate-pdf {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

/*========== HOME ==========*/
.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: .5rem;
  text-align: center;
}

.home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--h1-font-size);
}

.home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address {
  padding: 0;
  gap: 1rem;
  list-style: none;
}

.home__information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__link {
  transition: all .3s;
}

.home__link:hover {
  color: var(--link-color);
}

.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 1.5rem;
  border-radius: .25rem;
  transition: all .3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

/*========== SKILLS ==========*/
.skills__item {
  margin-bottom: 1rem;
}

.skills__item:last-child {
  margin-bottom: 0;
}

/*========== EXPERIENCE ==========*/
.experiance__title {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);  
}

/*========== EDUCATION ==========*/
.education__content {
  display: flex;
}

.education__timeline {
  padding-right: 1rem;
}

.education__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education__data {
  gap: .5rem;
}

.education__title {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.education__link {
  transition: all .3s;
}

.education__link:hover {
  color: var(--link-color);
}

.education__studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__date {
  font-size: var(--smaller-font-size);
}

/* code */
.code__link {
  transition: all .3s;
}

.code__link:hover {
  color: var(--link-color);
}

.code__example {
  font-size: 14px;
  padding: 10px 20px;
  white-space: normal;
  color: var(--text-color);
  background-color: var(--container-color-alt);
}

/*========== LANGUAGE ==========*/
.language__link {
  transition: all .3s;
}

.language__link:hover {
  color: var(--link-color);
}

/*========== FOOTER ==========*/
.footer-desktop {
  display: none;
}

.footer-mobile {
  padding: 2rem 0 1rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  transition: all .3s;
}

.footer__link:hover {
  color: var(--link-color);
}

.footer__rs-logo {
  width: 70px;
  height: auto;
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1.25rem;
  bottom: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  text-decoration: none;
  background-color: var(--container-color-alt);
  border-radius: 50%;
  transition: all .4s;
  /* visibility: hidden; */
  z-index: var(--z-tooltip);
}

.sctolltop-icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 6rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, nav menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }
  
  .bd-container {
    margin: 0 auto;
  }
  
  .header,
  .scrolltop {
    display: none;
  }
  
  .resume {
    display:grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  
  .resume__left {
    background-color: var(--container-color-alt);
  }
  
  .resume__left, 
  .resume__right {
    padding: 0 1.5rem;
  }
  .generate-pdf {
    display: inline-block;
  }
  
  .section-title {
    margin-bottom: var(--mb-2);
  }
  
  .section-title {
    text-align: left;
  }
  
  .home__container {
    gap: 1.5rem;
  }
  
  .home__button-movil {
    display: none;
  }
  
  .footer-desktop {
    display: block;
    padding: 6rem 0 0;
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-mobile {
    display: none;
  }
}